* {
    margin: 0;
}
body{
    background-color:#F2F7F8;
    line-height: 27.2px;
    font-family: jakarta,sans-serif;
    overflow-x: hidden;
}
@media(max-width:992px){
body{
    text-align: center;
}

}
@media(max-width:480px){
    body{
      font-size: 16px;
    }
    
    }

/* navigation styling */

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 100%;
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 15px;
box-shadow: 2px 4px 5px rgba(0,0,0,0.5);

}

.logo {
    img {
        width: 80%;
padding: 0px 50px 0px 0px;
    }
}

.nav-links {
    a {
        margin: 20px;
    color: #3d4f60;
    font-size: 16px;
    text-decoration: none;
    }

}

a:hover {
    color: blue;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.menu{
    display: none;
}

.nav-buttons {

    .button1 {
        padding: 15px 22px;
        border-radius: 10px;
        font-size: 16px;
        border: 1px solid navy;
        color: #0c1825;
    }
}



.button2 {
    padding: 15px 22px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    color: white;
    margin-right: 50px;
    background-color:#122231;
}

/* navigation resposiveness */
@media(max-width:1080px){
    .menu{
        display: inline;
        padding-right: 40px;
        img{
            width: 100%;
            height: 40px;
        }
        
       
    }
    .logo{
        width: 100%;
        padding-left: 40px;
    }
    .nav-links{
        display: none;
    }
    .nav-buttons{
        display: none;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }
}

/* hero1-container styling */
.rightangle {
    width: 30px;
    color: white;

}

.ios {
    width: 30px;
}

.Android-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 35px;
    border-radius: 10px;
    background-color: #122231;
    font-size: 16px;
    margin: 0px 8px;
    color: #ffffff;
    gap: 10px;
}

.ios-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 0px 8px;
    color: #ffffff;
    border-radius: 10px;
    padding:10px 35px;
    background-color: #122231;
   margin: 0px 16px 0px 0px;
   gap: 10px;
}

.hero1-container-button {
    display: flex;
    gap: 30px;
    padding-top: 30px;
    margin: 30px 0px 0px;
}

.phonedancing {
    width: 100%;
    height: 70vh;
    padding-top: 150px;
    animation: bounce 5s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}
.savings-report{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    background-color: #0089ff;
    margin: 0px 0px 40px;
    padding: 8px 12px;
    border-radius: 2rem;
    font-weight: 700;
}

.hero1-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 0px 150px;
}

.hero1-container1 {
    line-height: 1;

    .heading1{
        font-size: 48px;
        color:#122231;
      margin: -20px 0px 0px ;
width: 400px;

    }
.hero1-container-image{
    width: 80%;
}
    .paragraph1{
        color: #3d4f60;
        font-size: 16px;
       margin: 25px 13.0189px ;
       width: 65%;
    }

}
/* responsiveness for hero1-container */
@media(max-width:1150px){

    .hero1-container {
         display: flex;
         flex-direction: column;
         text-align: center;
       
        }
        .hero1-container1{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 190px ;
           width: max-content;
            }
           .phonedancing{
            width: 400px;
           }
        }
        .heading1{
            font-size: 30px;
        }
        
        .hero1-container-button{
            gap: 0px;
        } 
/* styling of hero2-container */
        .hero2-container{
display: flex;
align-items: center;
margin: 0px 150px;
gap: 30px;

        }
        .security-measures{
            display: flex;
            text-align: justify;
        }
        .hero1-container-keylock{
          
       svg{
        background-color: white;
       padding: 40px;
       border-radius: 2rem;
       text-align: center;
       
       }
        }
        .security-content{
          width: 40%;
          .security-heading{
            margin-bottom: 20px;
            font-size: 24px;
            color: #122231;
          }
          .security-paragraph{
            margin-bottom: 20px;
            font-size: 16px;
            color: #3d4f60;
          }
          .security-measures-paragraph{
            color: #122231;
            font-weight: 600;
          }
        }
        .security-measures{
            gap: 20px;
        }
        /* hero2- container responsivesness */
        @media(max-width:1012px){
            .hero2-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               margin: 0 auto;;
            }
           .security-content{
            width: 50%;
            text-align: center;
           }
          
        }
        /* hero3-container styling */

        .hero3-container{
            text-align: center;
            margin-top: 100px;
            .hero3-container-heading{
                font-size: 45px;
             color: #122231;
            }
            .hero3-container-paragraph{
                color: #122231;
                font-size: 25px;
                margin: 30px 0px 16px;
            }
        }

                /* hero3- container responsivesness */

        @media(max-width:1200px){
            .hero3-container-heading{
                line-height: 1;
            }
        }


        /* hero4-container styling */
         .hero4-container{
            display: flex;
            gap: 30px;
            justify-content: center;
            margin-bottom: 100px;
            
        } 
        .hero4-container1{
            display: flex;
            justify-content: space-between;
       background-color:#0f60d6;
       color: white;
       height: 400px;
       width: 40%;
       border-radius: 1rem;
       padding-top: 40px;
      
       img{
        width: 100%;
        padding-top: 200px;
       }
      } 
      .hero4-container1:hover{
        background-color:#ffffff;
        color:#0f60d6;
               }

       .hero4-container-content{
        padding-left: 40px;
       }

        .hero4-container2{
        display: flex;
            justify-content: space-between;
            
        background-color: #0089ff;
        color: white;
       height: 400px;
       width: 40%;
       border-radius: 1rem;
       padding-top: 40px;
       img{width: 100%;
        padding-top: 200px;
       }} 
       .hero4-container2:hover{
        background-color:#ffffff;
        color:#0089ff;
               }
        .hero4-container3{
            display: flex;
            justify-content: space-between;
        background-color:#069b40;
        color: white;
        height: 400px;
        width: 40%;
        border-radius: 1rem;
        padding-top: 40px;
        img{width: 100%;
            padding-top: 200px;
           }
        
       } 
       .hero4-container3:hover{
        background-color:#ffffff;
        color:#069b40;
               }
        .hero4-container-heading{
        padding-bottom: 30px;
        font-size: 30px;
    } 
    .hero4-container-paragraph{
font-size: 18px;
    }    
    .piggy-paragraph{
        padding-top:180px;
        font-size: 15px;
    } 
    .hero4-container4{
        display: flex;
        justify-content: space-between;
    background-color:#e5288e ;
    color: white;
        height: 400px;
        width: 40%;
        border-radius: 1rem;
        padding-top: 40px;
        img{width: 100%;
            padding-top: 200px;
           }
   }
   .hero4-container4:hover{
    background-color:#ffffff;
    color:#e5288e;
           } 
    .hero4-container5{
        display: flex;
        justify-content: space-between;
    background-color:#0c1825 ;
    color: white;
        height: 400px;
        width: 40%;
        border-radius: 1rem;
        padding-top: 40px;
        img{width: 100%;
            padding-top: 200px;
           }
   } 
   .hero4-container5:hover{
    background-color:#ffffff;
    color:#0c1825;
           }
    .hero4-container6{
    display: flex;
        justify-content: space-between;
    background-color:#ff783c;
    color: white;
        height: 400px;
        width: 40%;
        border-radius: 1rem;
         padding-top: 40px;
        img{width: 80%;
             padding-top: 170px;
           }
   } 
   .hero4-container6:hover{
    background-color:#ffffff;
    color:#ff783c;
           }
/* responsiveness for hero4-container */

   @media(max-width:1700px){
    .hero4-container{
        flex-wrap: wrap;
    }
}
@media(max-width:2000px){
    .hero4-container{
        flex-wrap: wrap;
    }
}
@media(max-width:900px){
    .hero4-container{
        display: flex;
        flex-direction: column;
       align-items: center;}
       .hero4-container1{
        display: flex;
        justify-content: space-between;
   background-color:#0f60d6;
   color: white;
   height: 400px;
   width: 100%;
   border-radius: 1rem;
   padding-top: 40px;
  
   img{
    width:157px;
    padding-top: 250px;
   }
   } 
   .hero4-container2{
    display: flex;
        justify-content: space-between;
        
    background-color: #0089ff;
    color: white;
   height: 400px;
   width: 100%;
   border-radius: 1rem;
   padding-top: 40px;
   img{width: 157px;
    padding-top: 250px;
   }} 
    .hero4-container3{
        display: flex;
        justify-content: space-between;
    background-color:#069b40;
    color: white;
    height: 400px;
    width: 100%;
    border-radius: 1rem;
    padding-top: 40px;
    img{width: 157px;
        padding-top: 250px;
       }
    
   } 
   .hero4-container4{
    display: flex;
    justify-content: space-between;
background-color:#e5288e ;
color: white;
    height: 400px;
    width: 100%;
    border-radius: 1rem;
    padding-top: 40px;
    img{width: 157px;
        padding-top: 250px;
       }
} 
.hero4-container5{
    display: flex;
    justify-content: space-between;
background-color:#0c1825 ;
color: white;
    height: 400px;
    width: 100%;
    border-radius: 1rem;
    padding-top: 40px;
    img{width: 157px;
        padding-top: 250px;
       }
} 
.hero4-container6{
display: flex;
    justify-content: space-between;
background-color:#ff783c;
color: white;
    height: 400px;
    width: 100%;
    border-radius: 1rem;
     padding-top: 40px;
    img{width: 157px;
         padding-top: 250px;
       }
} 
}


/* hero5-container styling */
.hero5-container{
    background-color: #ffffff;
    padding-top: 70px;
    width: 100%;
}

.hero5-container1{
    text-align: center;
    margin-bottom: 60px;
    .hero5-container1-heading{
font-size:51px ;
color: #122231;
margin-bottom: 40px;

    }
    .hero5-container1-paragraph{
font-size:24px ;
color: #3d4f60;
    }
}

.hero5-container2{
    display: flex;
    justify-content: space-evenly;
    background-color:#7913e5 ;
    border-radius: 3rem;
    padding: 40px ;
    margin: 0px 100px;
}
.hero5-container2-text{
   padding: 0px 80px;
    line-height: 1;
   width: 30%;
}
.hero5-container2-heading{
font-size: 36px;
color: #ffffff;
}
.hero5-container2-paragraph{
font-size: 20px;
color:#fed6f1;


}

.hero5-image{
   img{
    width: 100%;
   
   }
}
.hero5-container2-heading2{
    font-size: 16px;
    color: #ffffff;
    padding-top:300px;
}

/* responsiveness for hero5-container */

@media(max-width:1200px)

{
    .hero5-container1-heading{
    line-height: 1;
    }

    .hero5-container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 50px ;
        width: 80%;
        margin: 0 auto;
        border-radius: 10px;
       
    }
     .hero5-container2-text{
        width: 100%;
       
    }
    .hero5-container2-heading2{
      padding-top: 20px;
      font-size: 20px;
    
    }
    .hero5-container2-heading{
       font-size: 30px;
       width: 100%;
    }
    .hero5-container2-paragraph{
        font-size: 18px;
    }
    .hero5-image{
        img{
            width: 100%;
           
        }
    }
} 


/* hero6-container styling */

.hero6-container{
    text-align: center;
    margin-top: 200px;
  background-color: #F2F7F8;
}
.hero6-container1{
    .hero6-container-heading{
        color: #122231;
        font-size: 51px;
        margin-bottom: 70px;
    }
    .hero6-container-paragraph{
        color:#3d4f60 ;
        font-size: 24px;
        margin-bottom: 60px;
        width: 45%;
        margin: 0 auto;
    }
}
iframe{
    width: 50%;
    border-radius: 2rem;
    margin-top: 40px;
    height: 50vh;
}
/* responsiveness for hero6-container */
@media(max-width:1200px){
    .hero6-container-heading{
        font-size: 35px;
        line-height: 1;
    }
    iframe{
        width: 350px;
    }
}

/*    hero2- container styling */

.hero7-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin-top: 80px;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F2F7F8;
        border-radius: 10px;
        border: 1px solid #848688;
        padding: 10px 20px;
    }
    .hero7-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
       margin-top: 20px;
      
    }
    .hero7-container-followers{
        text-align: justify;
    }
}
.hero7-paragraph{
    font-size: 30px;
    font-weight: 600;
    width: 400px;
    margin-top: 40px;
}
.hero7-container-image{
  
img{
    width: 100%;
}
}

        /* hero7- container responsivesness */

@media(max-width:1200px){
    .hero7-container{
        display: flex;
        flex-direction: column-reverse;
    }
}

/* hero8-container styling */

.hero8-container-heading{
    text-align: center;
    font-size: 30px;
    margin: 70px 0px;
}
.hero8-container-logo{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 40px;
   margin: 0 auto;
}
 .techcabal{
    img{
        width: 150px;
    }
}
.techcrunch{
    img{
        width: 200px;
    }
}
.CNBC{
    img{
        width: 150px;
    }
} 

        /* hero8- container responsivesness */

@media(max-width:1353px){
    .hero8-container-logo{
        margin: 0 auto;
flex-wrap: wrap;
    }
}

/* footer styling */
.piggy-logo{display: flex;
    flex-direction: column;
    align-items: center;
    .badge{
        width:100px;
    }
    .logo{
        width: 100px;
    }
}
.footer1{
    display: flex;
    justify-content:space-evenly ;
    margin: 100px 0px;
   
}
.footer-links{
    display: flex;
    gap: 100px;
   

}
.link1{
    a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #3d4f60;
    }
}
.link2{
    a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #3d4f60;
    }
}
.link3{
    a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #3d4f60;
    }
}
a:hover{
    color: #0f60d6;
}
.social-icons{
    display: flex;
    gap: 30px;
}

.thin-line{
    height: 2px;
    width: 100%;
    background-color: #b0b2b4;
    margin-bottom: 40px;
}
.footer2{
    margin: 0px 150px;
}
.paragraph1-footer{
    margin-bottom: 40px;
    width: 68%;
}
.paragraph2-footer{
    margin-bottom: 40px;
    width: 50%;
}
.paragraph3-footer{
margin-bottom: 50px;
color: navy;
}
/* responsiveness for footer section */

@media(max-width:1086px){
    .footer1{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
    }
    .thin-line{
        display: none;
    }
.footer2{
    margin: 0;
}
.footer-links{
    gap: 20px;
}
}




